* {
    font-family: Georgia,"Times New Roman",Times,serif
   }

   .main-header .logo {
    font-family: "Georgia", Times, "Times New Roman", serif;
    font-weight: bold;
  }
   
   #logo {
       background: green;
   }

   .content-wrapper {
    padding: 6px;
}